@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.abel-regular {
    font-family: "Abel", sans-serif;
    font-weight: 2em;
    font-style: normal;
}

.navbar-brand {
    text-align: center;
}


.card {
    border-radius: 20vmin;
}

.card-body {
    border-radius: 1vmin;


}

.list-group-item {
    border-radius: 2vmin;
}

.card.mb-3 {
    height: 200vh;
    overflow: hidden;
}

.card-title {
    font-size: 1.2em;
}

.card-text {
    font-size: 0.9em;
}